@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@layer base {
    body {
        @apply font-sans bg-light-text text-dark-bg;
    }
}

:root {
    --primary-red: #D92D20;
    --secondary-yellow: #F9C74F;
    --accent-green: #43AA8B;
    --dark-bg: #2B2D42;
    --light-text: #EDF2F4;
}

.hero-bg {
    background-image: linear-gradient(135deg, rgba(217, 45, 32, 0.9), rgba(249, 199, 79, 0.7)),
        url('https://placehold.co/1920x800/2B2D42/EDF2F4?text=Rempah+Indonesia');
    background-size: cover;
    background-position: center;
}

.vibrant-shadow {
    box-shadow: 0 10px 15px -3px rgba(249, 199, 79, 0.5), 0 4px 6px -2px rgba(249, 199, 79, 0.5);
}
